// Фоны
$bg-main: #f8fafc; // Главный фон
$bg-card: #ffffff; // Фон карточек, модальных окон, сайдбара ...

// Текст
$text-main: #0f172a; // Основной цвет: заголовски, текст в инпутах ...
$text-muted: #64748b; // Второстепенный цвет: плейсхолдеры,  время ...

// Акцентные цвета
$primary: #4f46e5; // Кнопки, че то там ...
$primary-hover: #4338ca; // Кнопки, че то там (при наведении) ...

// Границы, рамки
$border-color: #e2e8f0; // Границы, рамки ...

$font-family: 'Inter', sans-serif, system-ui; // Шрифт
